---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Eddy Chasle - CV" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Depuis mes débuts avec la spécialité NSI, j’ai accumulé de nombreuses
    expériences dans le domaine du développement informatique notamment à
    travers des projets uniques et enrichissants
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formations</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BTS Service Informatique aux Organisations (SIO) / Spécialité SLAM"
      subtitle="2023 à 2025 au Lycée de la Colinière, Nantes, France"
    />
    <TimeLineElement
      title="Programme Grande École"
      subtitle="2022 à 2023 à Epitech, Nantes, France"
    />
    <TimeLineElement
      title="Baccalauréat, mention bien / Spécialités NSI et Mathématiques, option Théatre"
      subtitle="2019 à 2022 au Lycée Alcide d'Orbigny, Bouaye, France"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Expériences</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Stage de première année - BTS SIO"
      subtitle="Du 13/06/2024 au 28/07/2024 chez Mazedia, Saint-Herblain, France"
    >
      Mon travail a été d’apprendre un framework JavaScript, Angular 17. Dans le
      but de créer une application mobile appelée Wezit Compagnon, pendant 7
      semaines (2024).
    </TimeLineElement>
    <TimeLineElement
      title="Stage de deuxième année - BTS SIO"
      subtitle="Du 24/02/2025 au 11/04/2025 au Casier Judiciaire National, Nantes, France"
    >
      Apprentisage du Framework Laravel 12 afin de réaliser une application de
      gestion de demandes d'accès à l'intranet du Casier Judiciaire National via
      à un formulaire (2025).
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Compétences</div>
  </div>

  <ul class="list-disc md:columns-3 columns-2 mx-5">
    <li>HTML 5/CSS 3 (Tailwind CSS, Boostrap 5)</li>
    <li>Python 3</li>
    <li>SQL (PostgreSQL, MySQL, MariaDB)</li>
    <li>PHP 8, Framework : Symfony, Laravel 12, ORM Doctrine</li>
    <li>JavaScript, Framework : Stimulus</li>
    <li>TypeScript, Framework : Angular 17</li>
    <li>Langage C</li>
    <li>Tests Unitaires</li>
    <li>Développement Cybersécurité : OWASP</li>
    <li>Git - Framagit, Github</li>
    <li>IDE - Visual Studio Code, PhpStorm</li>
    <li>OS - Linux, Windows, IOS</li>
    <li>Docker</li>
  </ul>
</BaseLayout>
