---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("stages&veille")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Bonjour 👋</div>
    <div class="text-5xl font-bold">Je suis Eddy Chasle</div>
    <div class="text-3xl py-3 font-bold">
      Etudiant en BTS SIO / Spécialité SLAM
    </div>
    <div class="py-2">
      <text class="text-lg">
        Bienvenue sur mon <strong>Portfolio</strong> et découvrez mon parcours ainsi
        que mes projets que j'ai réalisés en tant qu'étudiant en informatique.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      Mes derniers projets {"</>"}
    </div>
  </div>

  <HorizontalCard
    title="Pixel-position"
    img="/pixel-position_logo.webp"
    desc="Projet d'initiation au framework Laravel : Création d'un site web en se concentrant principalement sur l'aspect visuel avec TailWind CSS"
    url="https://github.com/eddy8chsl/pixel-position.git"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Example"
    img="/job_listings.webp"
    desc="Projet d'initiation au framework Laravel : Création d'une liste de Jobs avec la possibilité de visualiser les éléments du Job, de le supprimer, de l'éditer ou bien de d'en créer de nouveaux. De plus, les utilisateurs peuvent s'inscrire et se connecter pour avoir la possibilité de modifier les offres d'emploi associées à leur compte"
    url="https://github.com/eddy8chsl/example.git"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Ministages"
    img="/ministages_logo.webp"
    desc="Optimisation d'un site de réservation de mini-stages sur le territoire de la Loire-Atlantique et de ces environs, en PHP. (l'accès au dossier du projet est confidentiel)"
    url="https://framagit.org/coliniere/discover/ministages"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">
      Mes Stages & Veille Informatique
    </div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/stages&veille/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
